.background-footer {
    /* position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 90%, #000 100%), url("../assets/img/background-footer/background-footer.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.custom-footer {
    background: rgba(0,0,0,0.5);
    padding: 10rem 0;
}
